/*Fucking co-brand overrides */
#holder {width: 780px;}
#holder #topNav {width: 758px; margin-left: 0;}
#holder #footer {width: 758px; margin-left: 0;}
#main {width: 780px;}
#main {margin: 10px 0 0 0}

div#listingsHolder {float: left; width: 429px;}
div#listingsHolder div.scroller {position: relative; height: 400px; overflow: auto;}
div#mapHolder {height: 400px; background-color: #f6f6f6; border-left: 6px solid #336399; margin-left: 429px;}

/* Sub Tools: get email alerts, listing count */
div#subTools {clear: left; padding: 0 5px; height: 45px; background-image: url("http://www.forsalebyowner.com/images/global/bgSubToolsShad.gif"); background-repeat: repeat-x; background-position: top;}
div#subTools p#prevNextCount {padding: 20px 0 0 10px; font-size: 12px; color: #000;}
div#subTools p#prevNextCount a.prev {padding: 0 0 0 8px; background-image: url("http://www.forsalebyowner.com/images/global/arrowLfBlue.gif"); background-repeat: no-repeat; background-position: 0 3px;}
div#subTools p#prevNextCount a.next {padding: 0 8px 0 0; background-image: url("http://www.forsalebyowner.com/images/global/arrowRtBlue.gif"); background-repeat: no-repeat; background-position: right 3px;}

/* View Bar Defaults */
div#viewBar {clear: both; width: 397px; height: 24px; border: 1px solid #CCD8E6; border-width: 1px 0 1px 1px; margin: 0 5px 20px 5px;}
div#viewBar div {display: block; float: left; border-right: 1px solid #CCD8E6;}
div#viewBar div a.viewItem {display: block; padding: 6px 10px 6px 15px; margin: 0; font-size: 12px; font-weight: bold; line-height: 1em; text-decoration: none; background-position: left bottom;}
div.shadow {height: 7px; margin: 0 10px; font-size: 0; line-height: 0; background-image: url("http://www.forsalebyowner.com/images/global/bgShad.gif"); background-repeat: repeat-x;}

/* View Bar Specifics */
div#viewBar #viewOne {width: 103px;}
div#viewBar #viewOne a.viewItem {background-image: url("http://www.forsalebyowner.com/images/search/bgButListViewOn.gif");}

div#viewBar #viewTwo {width: 110px;}
div#viewBar #viewTwo a.viewItem {background-image: url("http://www.forsalebyowner.com/images/search/bgButMapViewOn.gif");}

div#viewBar #viewThree {position: relative; width: 79px; z-index: 9992;}
div#viewBar #viewThree a.viewItem {padding-left: 25px;}
div#viewBar #viewThree:hover a.viewItem, div#viewBar #viewThree.hov a.viewItem {background-image: url("http://www.forsalebyowner.com/images/search/bgButViewOn.gif"); background-repeat: repeat-x; background-position: left bottom;}
div#viewBar #viewThree:hover #sortMenu, div#viewBar #viewThree.hov #sortMenu {display: block;}

div#viewBar #viewFour {position: relative; width: 100px; z-index: 9992;}
div#viewBar #viewFour a.viewItem {padding-left: 25px;}
div#viewBar #viewFour:hover a.viewItem, div#viewBar #viewFour.hov a.viewItem {background-image: url("http://www.forsalebyowner.com/images/search/bgButViewOn.gif"); background-repeat: repeat-x; background-position: left bottom;}
div#viewBar #viewFour:hover #dispMenu, div#viewBar #viewFour.hov #dispMenu {display: block;}

div#viewBar div img.arrowDn {position: absolute; margin: 5px 0 0 -14px;}

/* Hover Menus */
#sortMenu {display: absolute; right: -1px; top: 24px; border-top: 1px solid #CCD8E6; margin-top: 0px; margin-left: -1px;}
#sortMenu li {width: 148px;}
#dispMenu {display: absolute; right: -1px; top: 24px; border-top: 1px solid #CCD8E6; margin-top: 0px; margin-left: -1px;}
#dispMenu li {width: 170px;}

/* Listings Headers */
div.propertiesHed {clear: left; height: 33px; margin: 0 5px 0 5px;}
div.featPropHed {background-image: url("http://www.forsalebyowner.com/images/search/bgPropFeatHedBar.gif"); background-repeat: repeat-x;}
div.allPropHed {background-image: url("http://www.forsalebyowner.com/images/search/bgPropHedBar.gif"); background-repeat: repeat-x; margin-top:5px;}
div.propertiesHed h2 {float: left; font-size: 14px; font-weight: bold; padding: 9px 0 0 15px; white-space:nowrap;}
div.propertiesHed span.links {float: right; white-space: nowrap; font-size: 10px; padding: 0;}
div.propertiesHed span.links a {display: block; float: left;}
div.propertiesHed span.links a.textlink {padding: 10px 10px 0 0;}

p.noListings {padding: 0 10px 10px 10px;}

/* Listing Bands */
div.listing {position: relative; zoom: 1; margin: 3px; padding:2px; border-bottom: 1px solid #E6ECF2;}
div.listing:hover, div.listing.listingHov, div.listing.listingSel {background-color: #e6ecf2; background-position: 0 0;}

div.listing div.flags {width:108px;float: left; margin-left: 19px; font-size: 11px; line-height: 1em; color:#bababa; font-family: Lucida Grande; margin-bottom:3px;}
div.listing div.flags span.photosFlag {position:relative; float: right; width:auto; padding-right:8px;}
div.listing div.flags span.videoFlag {postion:relative; float: right; width:auto; text-align:right; padding-right:8px;}
div.listing div.flags img {vertical-align: bottom;}

div.listing div.icon {float: left; height: 111px; width: 35px; background-repeat: no-repeat; background-position: 10px 25px;}
div.listing div.icon div.iconInner {width: 48px; height: 54px; margin: 25px 0 0 10px;}
div.listing div.photo {position: relative; float: left; height: 111px; width: 125px;   background-position: 0 0;}
div.listing:hover div.photo, div.listing.listingHov div.photo, div.listing.listingSel div.photo {}

div.photo img.photo {width: 100px; height: 75px; margin: 17px 0 0 18px; display: inline-block; }
div.open div.photo img.photo {}
div.new div.photo img.photo {}
div.sold div.photo img.photo {}

div.listingbubble div.photo span.flag,
div.listing div.photo span.flag { font-family:Helvetica; display:block; margin: 72px 0px 2px 18px; padding:4px 5px 2px 0px; position:absolute; width:95px; color:#FFF; text-align: right; font-weight:bold; font-size:9px; }
div.listingbubble div.photo span.flag { width: 143px; margin:91px 0px 0px 0px; }
div.listingbubble div.photo span.flag img,
div.listing div.photo span.flag img {border: 0; margin: 0;}
div.listingbubble.sold div.photo span.flag,
div.listing.sold div.photo span.flag {background-color: #a32b22;}
div.listingbubble.undercontract div.photo span.flag,
div.listing.undercontract div.photo span.flag,
div.listingbubble.underContract div.photo span.flag,
div.listing.underContract div.photo span.flag {background-color: #2c628e;}
div.listingbubble.open div.photo span.flag,
div.listing.open div.photo span.flag {background-color: #4b2d88;}
div.listingbubble.new div.photo span.flag,
div.listing.new div.photo span.flag {background-color: #00pda7;}
div.listingbubble.justreduced div.photo span.flag,
div.listing.justreduced div.photo span.flag,
div.listingbubble.justReduced div.photo span.flag,
div.listing.justReduced div.photo span.flag {background-color: #408940;}
div.listingbubble.feat div.photo span.flag,
div.listing.feat div.photo span.flag {background-color:#d89128;}
div.listingbubble.newconstruction div.photo span.flag {background-color: #724112; }
div.listing.newconstruction div.photo span.flag  {background-color: #724112; font-size: 8px;}



div.listing div.sect {float: left; width: 238px; padding: 17px 0 0 0; font-size: 10px; line-height: 1.3em; color: #000;}
div.listing div.sect div.topCol{padding-bottom: 6px;}
div.listing div.sect div.leftCol{float:left; width:119px}
div.listing div.sect div.rightCol{float:left; width: 113px; padding:0 0 0 6px;}

div.listing div.sect span.price {display: block; font-size:13px; font-weight: bold; }

div.sold span.price {color: #a5000e; display:block;}
div.justreduced span.price,
div.justReduced span.price {color: #258900}  

div.sect span.address {}
div.sect span.distance {display: block; color: #999;}
div.sect span.beds {display: block; font-weight: bold;}
div.sect span.type{display:block;}
div.sect span.sqft{display:block;}
div.sect span.posted{display:block;}
div.sect span.more a {padding-right: 10px; background-image: url("http://www.forsalebyowner.com/images/global/arrowRtBlue.gif"); background-repeat: no-repeat; background-position: right;}
div.sect span.priceMsg{font-weight:bold; font-size:11px; padding-top: 3px; padding-left:2px; display:block;}
div.sold span.priceMsg{color: #A5000E;}
div.justreduced span.priceMsg,
div.justReduced span.priceMsg{color: #258900;}


/* Listing Bubble */
div.listingbubble {position: relative; zoom: 1;}
div.listingbubble div.header {font-size: 14px; margin-bottom: 7px;}
div.listingbubble div.header span.price {color: #000; font-weight: bold;}
div.listingbubble div.tagline {font-size: 14px; margin-bottom: 7px;}

div.listingbubble div.photo {position: relative; float: left; height: 113px; width: 150px;}
div.listingbubble div.photo img.photo {width: 148px; height: 111px; margin: 0;}
span.flagFeat {position: absolute; display: block; margin: 1px 0 0 1px; width: 62px; height: 31px; background-repeat: no-repeat;}
div.listingbubble div.open div.photo span.flagFeat {background-image: url("http://www.forsalebyowner.com/images/search/flagOpen.png") !important; background-image: url("http://www.forsalebyowner.com/images/search/flagOpen.gif");}
div.listingbubble div.new div.photo span.flagFeat {background-image: url("http://www.forsalebyowner.com/images/search/flagNew.png") !important; background-image: url("http://www.forsalebyowner.com/images/search/flagNew.gif");}
div.listingbubble div.sold div.photo span.flagFeat {background-image: url("http://www.forsalebyowner.com/images/search/flagSold.png") !important; background-image: url("http://www.forsalebyowner.com/images/search/flagSold.gif");}

div.listingbubble div.sect {float: left; padding: 0 0 0 15px; font-size: 11px; line-height: 1.3em; color: #000;}
div.listingbubble div.sect span.address {display: block; padding-bottom: 3px; margin-bottom: 3px; border-bottom: 1px solid #e6e6e6;}
div.listingbubble div.sect span.proptype {display: block; padding-bottom: 3px; margin-bottom: 3px; border-bottom: 1px solid #e6e6e6;}
div.listingbubble div.sect span.updated {display: block; padding-bottom: 3px; margin-bottom: 6px; border-bottom: 1px solid #e6e6e6;}
div.listingbubble div.sect span.more {display: block; padding-bottom: 3px; padding-left: 20px; background-image: url("http://www.forsalebyowner.com/images/global/iconLearnMore.gif"); background-repeat: no-repeat;}
div.listingbubble div.sect span.more a {padding-right: 0; background-image: none;}
div.listingbubble div.sect span.added, a.addFav {padding: 0 0 0 18px; line-height: 1.8em; background-repeat: no-repeat; background-position: 0 0;}
div.listingbubble div.sect span.added {color: #1b9731; background-image: url("http://www.forsalebyowner.com/images/global/iconAdded.gif"); background-position: 2px 1px;}
div.listingbubble div.sect a.addFav {color: #1b9731; background-image: url("http://www.forsalebyowner.com/images/global/iconAddFaves.gif");}
a.removeFav {text-decoration: none;} 
span.pipecleaner {padding: 0 5px; color: #1b9731;}

/* Pagination */
div.paginWrap {float: left; padding: 12px 0 0 12px; overflow: visible;}
div.paginWrap p.paginText {font-size: 14px; color: #000; margin: 0 0 10px 0;}
div.paginWrap ul.pagin li {display: block; float: left; width: 30px;}
div.paginWrap ul.pagin li a {display: block; padding: 10px 0; width: 26px; background-image: url("http://www.forsalebyowner.com/images/search/paginSprite.gif"); background-repeat: no-repeat; font-size: 12px; line-height: 1em; text-align: center; text-decoration: none;}
div.paginWrap ul.pagin li.off a {background-position: 0px 0px;}
div.paginWrap ul.pagin li.off a:hover {background-position: -26px 0px;}
div.paginWrap ul.pagin li.on a {background-position: -26px 0px;}
div.paginWrap ul.pagin li.back a {background-position: -78px 0px;}
div.paginWrap ul.pagin li.back a:hover {background-position: -104px 0px;}
div.paginWrap ul.pagin li.backGrey a {background-position: -52px 0px;}
div.paginWrap ul.pagin li.begin a {background-position:-156px  0px ;}
div.paginWrap ul.pagin li.begin a:hover {background-position: -182px 0px;}
div.paginWrap ul.pagin li.beginGrey a {background-position: -130px 0px;}
div.paginWrap ul.pagin li.end a {background-position: -234px 0px;}
div.paginWrap ul.pagin li.end a:hover {background-position: -260px 0px;}
div.paginWrap ul.pagin li.endGrey a {background-position: -208px 0px;}
div.paginWrap ul.pagin li.next a {background-position: -312px 0px;}
div.paginWrap ul.pagin li.next a:hover {background-position: -338px 0px;}
div.paginWrap ul.pagin li.nextGrey a {background-position: -286px 0px;}

div.footnotes {clear: both; border-top: 1px solid #E5ECF2; margin: 0 10px 10px 10px;}
p.copyright {float: left; padding: 10px 0 10px 10px; font-size: 10px; color: #000;}
a.rss {display: block; float: right; padding: 10px 10px 10px 18px; font-size: 10px; color: #B1C5DD; background-image: url("http://www.forsalebyowner.com/images/search/iconRSS.gif"); background-repeat: no-repeat; background-position: 0 10px;}

/* Search Foreclosures Link */
a.searchForeclosures {margin-left: 30px}


/* Breadcrumbs */
#searchBreadCrumbs { position: relative; text-align: left; background-color: #FFFFFF;  margin-bottom: 1em; }
ul.breadcrumbs { padding: 0 0 0 10px; }
html>body ul.breadcrumbs { *position: relative; *z-index: 10; *line-height:25px; *display:block; *height:25px; }
ul.breadcrumbs li.breadcrumbsParent {display: inline-block; position: relative; }
html>body ul.breadcrumbs li.breadcrumbsParent { *display:block; *float: left; *margin: 0px 2px; *height: 25px; }
ul.breadcrumbs li.breadcrumbsParent a { display: block; background-color: #BFD1E9; border: 1px solid #BFD1E9; color: #000000; padding: 0 1em; line-height: 25px; z-index: 9996; position: relative; }
html>body ul.breadcrumbs li.breadcrumbsParent a { *float:left; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings { 
		display: none; position: absolute; top: 26px; left: 0px; 
		height: 305px; background: transparent;  background-color: #FFFFFF; 
		z-index: 9994; border: 1px solid #BFD1E9; box-shadow:3px 3px 3px #CECECE; -webkit-box-shadow:3px 3px 3px #CECECE;
}
html>body ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings { *height: 255px; }

ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col1 { width: 125px; height: auto; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col2 { width: 250px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col3 { width: 375px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col4 { width: 500px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col5 { width: 625px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col6 { width: 750px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col7 { width: 875px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col8 { width: 1000px; }
ul.breadcrumbs li.breadcrumbsParent div.breadcrumbsSiblings.col9 { width: 1125px; }
ul.breadcrumbs li.breadcrumbsParent.hover a,
ul.breadcrumbs li.breadcrumbsParent:hover a { background-color: #FFFFFF; border-bottom: 1px solid #FFFFFF; }
ul.breadcrumbs li.breadcrumbsParent:hover div.breadcrumbsSiblings { display: block; }
ul.breadcrumbs div.breadcrumbsSiblings ul { float:left; width: 125px; overflow: hidden; display: block; }
ul.breadcrumbs div.breadcrumbsSiblings ul li {}
ul.breadcrumbs div.breadcrumbsSiblings ul li a { background-color: transparent !important; display: block; line-height: 20px; border: 0px none transparent !important; white-space: nowrap; }
